body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}

.heading {
  text-align: center;
  color: #333;
}

#main-div {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 20px;
}

#first-user,
#second-user {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 45%;
}

#message1,
#message2 {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#firstsendBtn,
#secondsendBtn {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#chat1,
#chat2 {
  margin-top: 15px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  min-height: 500px;
  overflow-y: auto;
}

/* Style adjustments for second-user to create a visual difference */
#second-user {
  background-color: #e0e0e0;
}

#second-user #secondsendBtn {
  background-color: #3498db;
}

#second-user #chat2 {
  background-color: #d3d3d3;
}

p {
  margin: 5px 0px;
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  #main-div {
    flex-direction: column;
    align-items: center;
  }

  #first-user,
  #second-user {
    width: 90%;
    margin-bottom: 20px;
  }
}
